{% extends 'inventory_manager/barf.html' %}

{% block content %}
<div class="container">
  {% if man %}
  <style>.id{font-weight:bold;}td:first-child{width:30%}</style>
  <h2>{{ man.name }} Manufacturer</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td class="id">Manufacturer:</td>
          <td>{{ man.name }}</td>
        </tr>
        <tr>
          <td class="id">Products by Manufacturer:</td>
          <td>{{ man.product_set.all|length }}</td>
        </tr>
      </tbody>
    </table>

  {% else %}
  <h2>View Manufacturers</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th><th>Products by Manufacturer</th>
        </tr>
      </thead>
      <tbody>
        {% for man in mans %}
        <tr>
          <td><a href="{% url 'inv-mgr:manufacturer-view' man.pk %}">{{ man.name }}</a></td><td>{{ man.product_set.all|length }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% endif %}
</div>
{% endblock %}
