{% extends 'inventory_manager/barf.html' %}

{% block content %}
<div class="container">
  <h2>Create A New Product</h2>
  <form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}{{ field }}{{ field.errors }}
    </div>
    {% endfor %}
    {{ formset.management_form }}
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Attribute</th><th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
        <tr>
          {% for field in form %}
          <td style="width:50%;">{{ field }}{{ field.errors }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit" value="Save" class="btn btn-primary default" name="save">
  </form>
</div>
{% endblock %}

{% block contentjs %}
<script>
$(document).ready(function(){
  $('#id_do_not_disturb').addClass('form-control');
});
</script>
<style>ul{list-style:none;;}ul li label{font-weight:normal}</style>
{% endblock %}
