{% extends 'inventory_manager/barf.html' %}

{% block content %}
<div class="container">
  {% if products %}
  <h2>Select A Product To Update</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>SKU</th><th>Name</th><th>Attributess</th><th>Qty On Hand</th><th>Supplier</th><th>Manufacturer</th>
        </tr>
      </thead>
      <tbody>
        {% for prod in products %}
        <tr>
          <td><a href="{% url 'inv-mgr:product-update' prod.pk %}">{{ prod.sku }}</a></td><td><a href="{% url 'inv-mgr:product-update' prod.pk %}">{{ prod.name }}</a></td>
          <td>
            <ul>
              {% for attr in prod.productattribute_set.all %}
                <li>{{ attr.attribute.name }}: {{ attr.value }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>{{ prod.qty_on_hand }}</td><td>{{ prod.supplier }}</td><td>{{ prod.manufacturer }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container">
    {% if products.has_previous %}
    <div class="button"><a href="?page={{ products.previous_page_number }}">Previous</a></div>
    {% endif %}
    <div>Page {{ products.number }} of {{ products.paginator.num_pages }}</div>
    {% if products.has_next %}
    <div class="button"><a href="?page={{ products.next_page_number }}">Next</a></div>
    {% endif %}
  </div>

  {% else %}
  <h2>Update A Product</h2>
  <form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}{{ field }}{{ field.errors }}
    </div>
    {% endfor %}
    {{ formset.management_form }}
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Attribute</th><th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
        <tr>
          {% for field in form %}
          <td style="width:50%;">{{ field }}{{ field.errors }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit" value="Save" class="btn btn-primary default" name="save">
  </form>
  {% endif %}
</div>
{% endblock %}

{% block contentjs %}
<script>
$(document).ready(function(){
  $('#id_do_not_disturb').addClass('form-control');
});
</script>
<style>ul{list-style:none;;}ul li label{font-weight:normal}</style>
{% endblock %}
