{% extends 'inventory_manager/base.html' %}

{% block content %}
<div class="container">
  {% if product %}
<style>
.id{font-weight:bold;}
td:first-child{width:30%}
</style>
  <h2>[{{ product.sku }}] {{ product.name }}</h2>
    <p>&nbsp;</p>
    <fieldset>
      <legend>Attributes</legend>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td class="id">Qty On Hand:</td>
            <td>{{ product.qty_on_hand }}</td>
          </tr>
          <tr>
            <td class="id">Location:</td>
            <td>{{ product.location }}</td>
          </tr>
          {% for attr in product.productattribute_set.all %}
          <tr>
            <td class="id">{{ attr.attribute.name }}:</td>
            <td>{{ attr.value }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td class="id">Date Created:</td>
            <td>{{ product.created|date:"F j, Y g:i a" }}</td>
          </tr>
          <tr>
            <td class="id">Date Modified:</td>
            <td>{{ product.modified|date:"F j, Y g:i a" }}</td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  <p>&nbsp;</p>
  <div class="table-responsive">
    <fieldset>
      <legend>ID and Classification</legend>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td class="id">Manufacturer:</td>
            <td>{{ product.manufacturer }}</td>
          </tr>
          <tr>
            <td class="id">Supplier:</td>
            <td>{{ product.supplier }}</td>
          </tr>
          <tr>
            <td class="id">Categories:</td>
            <td>{{ product.categories.all|join:', ' }}</td>
          </tr>
        </tbody>
      </table>
    </fieldset>
    <p>&nbsp;</p>
    <fieldset>
      <legend>Responsibility</legend>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td class="id">Owner:</td>
            <td>{{ product.owner.first_name }} {{ product.owner.last_name }}</td>
          </tr>
          <tr>
            <td class="id">Reorder Threshold:</td>
            <td>{{ product.reorder_threshold }}</td>
          </tr>
          <tr>
            <td class="id">RT Alert:</td>
            <td>{{ product.do_not_disturb|yesno:'Do Not Notify,Notify' }}</td>
          </tr>
          <tr>
            <td class="id">Price:</td>
            <td>${{ product.price }}</td>
          </tr>
          <tr>
            <td class="id">Cost:</td>
            <td>${{ product.cost }}</td>
          </tr>
          <tr>
            <td class="id">Mfr SKU:</td>
            <td>{{ product.mfr_sku }}</td>
          </tr>
          <tr>
            <td class="id">Case Qty:</td>
            <td>{{ product.case_qty }}</td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>

  {% elif products %}
  <h2>View Products</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>SKU</th><th>Name</th><th>Attributess</th><th>Qty On Hand</th><th>Supplier</th><th>Manufacturer</th>
        </tr>
      </thead>
      <tbody>
        {% for prod in products %}
        <tr>
          <td><a href="{% url 'inv-mgr:product-view' prod.pk %}">{{ prod.sku }}</a></td><td><a href="{% url 'inv-mgr:product-view' prod.pk %}">{{ prod.name }}</a></td>
          <td>
            <ul>
              {% for attr in prod.productattribute_set.all %}
                <li>{{ attr.attribute.name }}: {{ attr.value }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>{{ prod.qty_on_hand }}</td><td>{{ prod.supplier }}</td><td>{{ prod.manufacturer }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container">
    {% if products.has_previous %}
    <div class="button"><a href="?page={{ products.previous_page_number }}">Previous</a></div>
    {% endif %}
    <div>Page {{ products.number }} of {{ products.paginator.num_pages }}</div>
    {% if products.has_next %}
    <div class="button"><a href="?page={{ products.next_page_number }}">Next</a></div>
    {% endif %}
  </div>

  {% else %}
  <p>No data received.</p>
  {% endif %}

</div>
{% endblock %}
