{% extends 'dat/barf.html' %}

{% block content %}
<div class="container">
  <h2>View Contact Labels</h2>
  {% if cls %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for cl in cls %}
          <tr>
            <td><a href="{% url 'dat:contactlabel-view' cl.id %}">{{ cl.name }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% if display_pages %}
    <div class="container">
      {% if cls.has_previous %}
      <div class="button"><a href="?page={{ cls.previous_page_number }}">Previous</a></div>
      {% endif %}
      <div>Page {{ cls.number }} of {{ cls.paginator.num_pages }}</div>
      {% if cls.has_next %}
      <div class="button"><a href="?page={{ cls.next_page_number }}">Next</a></div>
      {% endif %}
    </div>
    {% endif %}
  {% else %}
    <p>no data retrieved</p>
  {% endif %}
</div>
{% endblock %}
