{% extends 'dat/barf.html' %}

{% block content %}
<div class="container">
  <h2>Update An Existing Contact</h2>
  {% if form %}
  <form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}{{ field }}{{ field.errors }}
    </div>
    {% endfor %}
    <input type="submit" value="Save" class="btn btn-primary default" name="save">
  </form>
  {% else %}
  <div class="table-responsive">
    <h3>Select A Contact To Update</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th><th>Represents</th><th>Label</th>
        </tr>
      </thead>
      <tbody>
        {% for contact in contacts %}
        <tr>
          <td><a href="{% url 'dat:contact-update' contact.id %}">{{ contact.name }}</a></td><td>{{ contact.represents }}</td><td>{{ contact.label }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if display_pages %}
  <div class="container">
    {% if contacts.has_previous %}
    <div class="button"><a href="?page={{ contacts.previous_page_number }}">Previous</a></div>
    {% endif %}
    <div>Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}</div>
    {% if contacts.has_next %}
    <div class="button"><a href="?page={{ contacts.next_page_number }}">Next</a></div>
    {% endif %}
  </div>
  {% endif %}
  {% endif %}
</div>
{% endblock %}
