{% extends 'app/skus/base.html' %}

{% block content %}
{% if objs %}
<div class="table-responsive">
<h3>Select obj to Update</h3>
<table class="table table-striped">
<thead>
  <tr><td>Name</td></tr>
</thead>
<tbody>
  {% for obj in objs %}
  <tr><td><a href="{% url 'app:obj__update' obj.pk %}">{{ obj.name }}</a></td></tr>
  {% endfor %}
</tbody>
</table>

<div class="container">
  {% if objs.has_previous %}
  <div class="button"><a href="?page={{ objs.previous_page_number }}">Previous</a></div>
  {% endif %}

  <div>Page {{ objs.number }} of {{ objs.paginator.num_pages }}</div>

  {% if objs.has_next %}
  <div class="button"><a href="?page={{ objs.next_page_number }}">Next</a></div>
  {% endif %}
</div>
</div>

{% else %}
<h3>Update obj {{ obj.name }}</h3>
<form action="." method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group">
    {{ field.label_tag }}{{ field }}{{ field.errors }}
  </div>
  {% endfor %}
  <input type="submit" value="Save" class="btn btn-primary default" name="save">
  <a class="btn btn-danger pull-right" href="{% url 'app:obj__view' %}">Cancel</a>
</form>

{% endif %}
{% endblock %}
