{% extends 'app/skus/base.html' %}

{% block content %}
<h2>Create a New SKU</h2>
<form method="post" action="">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group">
    {{ field.label_tag }}{{ field }}{{ field.errors }}
  </div>
  {% endfor %}
  {{ formset.management_form }}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Attribute</th><th>Value</th>
      </tr>
    </thead>
    <tbody>
      {% for form in formset %}
      <tr>
        {% for field in form %}
        <td class="col-lg-6">{{ field }}{{ field.errors }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="submit" value="Save" class="btn btn-primary default" name="save">
  <a class="btn btn-danger pull-right" href="{% url 'app:sku__view' %}">Cancel</a>
</form>
{% endblock %}

{% block contentjs %}
<script>
$('#id_notify_at_threshold').addClass('form-control');
$('#id_in_live_deal').addClass('form-control');

// TODO: optimize brands based on supplier
</script>
{% endblock %}
