{% extends 'app/skus/base.html' %}

{% block content %}
<div class="table-responsive">
{% if sku %}
<h3>SKU {{ sku.id }}</h3>
<table class="table table-striped">
<tbody>
  <tr><th>ID</th><td>{{ sku.id }}</td></tr>
  <tr><th>Name</th><td>{{ sku.name }}</td></tr>
  <tr><th>Categories</th><td>{{ sku.categories.all|join:", " }}</td></tr>
  <tr><th>Brand</th><td>{{ sku.brand }}</td></tr>
  <tr><th>Location</th><td>{{ sku.location }}</td></tr>
  <tr><th>Qty on Hand</th><td>{{ sku.qty_on_hand }}</td></tr>
  <tr><th>Supplier</th><td>{{ sku.supplier }}</td></tr>
  <tr><th>Owner</th><td>{{ sku.owner.username }}</td></tr>
  <tr><th>Reorder Threshold</th><td>{{ sku.reorder_threshold }}</td></tr>
  <tr><th>Notify Owner</th><td>{{ sku.notify_at_threshold|yesno:"Yes,No" }}</td></tr>
  <tr><th>Price</th><td>${{ sku.price }}</td></tr>
  <tr><th>Cost</th><td>${{ sku.cost }}</td></tr>
  <tr><th>Mfr SKU</th><td>{{ sku.mfr_sku }}</td></tr>
  <tr><th>Case Qty</th><td>{{ sku.case_qty }}</td></tr>
  <tr><th>Created</th><td>{{ sku.created }}</td></tr>
  <tr><th>Modified</th><td>{{ sku.modified }}</td></tr>
  {% if sku.skuattribute_set|length %}
  <tr>
    <td colspan="2">
      <h4>Attributes</h4>
      <div class="table-responsive">
      <table class="table table-condensed">
      <thead>
        <th>Attribute</th><th>Value</th>
      </thead>
      <tbody>
        {% for attr in sku.skuattribute_set.all %}
        <tr><td>{{ attr.attribute }}</td><td>{{ attr.value }}</td></tr>
        {% endfor %}
      </tbody>
      </table>
      </div>
    </td>
  </tr>
  {% endif %}
</tbody>
</table>
<a class="btn btn-primary default" href="{% url 'app:sku__view' %}">Back To List</a>

{% elif skus %}
<h3>View SKUs</h3>
<table class="table table-striped">
<thead>
  <tr>
    <th>Description</th><th>Qty on Hand</th><th>Location</th><th>Owner</th>
  </tr>
</thead>
<tbody>
  {% for sku in skus %}
  <tr>
    <td><a href="{% url 'app:sku__view' sku.pk %}">{{ sku.description }}</a></td>
    <td>{{ sku.qty_on_hand }}</td>
    <td>{{ sku.location }}</td>
    <td>{{ sku.owner.username }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

<div class="container">
  {% if skus.has_previous %}
  <div class="button"><a href="?page={{ skus.previous_page_number }}">Previous</a></div>
  {% endif %}

  <div>Page {{ skus.number }} of {{ skus.paginator.num_pages }}</div>

  {% if skus.has_next %}
  <div class="button"><a href="?page={{ skus.next_page_number }}">Next</a></div>
  {% endif %}
</div>

{% else %}
<h3>View SKUs</h3>
<p>No data received.</p>

{% endif %}
</div>
{% endblock %}
