{% extends 'app/skus/base.html' %}

{% block content %}
<div class="table-responsive">

{% if supplier %}
<h3>Supplier {{ supplier.name }}</h3>
<table class="table table-striped">
<tbody>
  <tr><th>Name</th><td>{{ supplier.name }}</td></tr>
</tbody>
</table>
<a class="btn btn-primary default" href="{% url 'app:supplier__view' %}">Back To List</a>
<a class="btn btn-danger pull-right" href="{% url 'app:supplier__update' supplier.pk %}">Modify This Supplier</a>

{% elif suppliers %}
<h3>Suppliers</h3>
<table class="table table-striped">
<thead>
  <tr>
    <th>Name</th>
  </tr>
</thead>
<tbody>
  {% for supplier in suppliers %}
  <tr>
    <td><a href="{% url 'app:supplier__view' supplier.pk %}">{{ supplier.name }}</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>

<div class="container">
  {% if suppliers.has_previous %}
  <div class="button"><a href="?page={{ suppliers.previous_page_number }}">Previous</a></div>
  {% endif %}

  <div>Page {{ suppliers.number }} of {{ suppliers.paginator.num_pages }}</div>

  {% if suppliers.has_next %}
  <div class="button"><a href="?page={{ suppliers.next_page_number }}">Next</a></div>
  {% endif %}
</div>

{% else %}
<h3>View {% if plural %}{{ plural }}{% else %}{{ model }}s{% endif %}</h3>
<p>No data received.</p>

{% endif %}
</div>
{% endblock %}
