{% extends 'dodger/base.html' %}

{% block extrahead %}
<style>
  table.skus tbody { max-height:307px; overflow-y:scroll; display:block; }
  table.skus thead { display:block; }
</style>
{% endblock %}

{% block content %}
<div>
    <h2>Dodger Home</h2>
</div>

<div><p>&nbsp;</p></div>

<div>
<h4>Live SKUs</h4>
<div class="table-responsive">
  <table class="table table-striped skus">
    <thead>
    <tr>
      <th style="width: 80%">SKU</th><th style="width: 7%">Qty on Hand</th><th style="width: 13%">Location</th>
    </tr>
    </thead>
    <tbody>
    {% for sku in live_skus %}
    <tr>
      <td style="width: 80%"><a href="{% url 'app:sku__view' sku.pk %}">{{ sku.description }}</a></td>
      <td style="width: 7%;{% if sku.quantity_on_hand <= 0 %}color:red;font-weight:bold;{% endif %}">{{ sku.quantity_on_hand }}</td>
      <td style="width: 13%;{% if sku.location|length == 0 %}color:red;font-weight:bold;{% endif %}">{{ sku.location|default:"unknown" }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>

<hr />

<div>
<h4>Outstanding Purchase Orders</h4>
{% if out_pos|length %}
<div class="table-responsive">
  <table class="table table-striped" style="width: 100%">
    <thead>
    <tr>
      <th style="min-width: 33%">Purchase Order</th><th style="min-width: 33%">SKU</th><th style="min-width: 34%">Ordered/Received</th>
    </tr>
    </thead>
    <tbody>
    {% for po in out_pos %}
    <tr>
      <td style="width: 33%"><a href="{{ po.1 }}">{{ po.0 }}</a></td>
      <td style="width: 33%">{{ po.2 }}</td>
      <td style="width: 34%">{{ po.3 }}/{{ po.4 }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>All POs have been received.</p>
{% endif %}
</div>

<hr />

<div>
<h4>Recent Shipments Received</h4>
{% if recent_shipments|length %}
<div class="table-responsive">
  <table class="table table-striped" style="width: 100%">
    <thead>
    <tr>
      <th style="width: 33%">Shipment</th><th style="width: 33%">Purchase Order</th><th style="width: 34%">Date</th>
    </tr>
    </thead>
    <tbody>
    {% for shipment in recent_shipments %}
    <tr>
      <td style="width: 33%"><a href="{% url 'app:shipment__view' shipment.pk %}">{{ shipment }}</a></td>
      <td style="width: 33%"><a href="{% url 'app:purchase_order__view' shipment.purchase_order.pk %}">{{ shipment.purchase_order }}</a></td>
      <td style="width: 34%">{{ shipment.created }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>Nothing has come in the last week.</p>
{% endif %}
</div>
{% endblock %}
