{% extends 'dodger/base.html' %}

{% block content %}
<div class="container">
  <form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}{{ field }}{{ field.errors }}
    </div>
    {% endfor %}
    {{ formset.management_form }}
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Product</th><th>Qty Ordered</th><th>Disc Percent</th><th>Disc Dollar</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
        <tr>
          {% for field in form %}
          <td class="col-lg-3">{{ field }}{{ field.errors }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit" value="Save" class="btn btn-primary default" name="save">
    <a class="btn btn-danger pull-right" href="{% url 'app:po__view' %}">Cancel</a>
  </form>
</div>
{% endblock %}

{% block contentjs %}
{% load static %}
<script src="{% static 'app/js/po__create.js' %}"></script>
{% endblock %}
