{% extends 'dodger/base.html' %}

{% block extrahead %}
<style>table.data-table{font-size:0.8em;}</style>
{% endblock %}

{% block content %}
<h3>View Purchase Order Data</h3>

<div class="table-responsive">
<form action="." method="get">
  {% csrf_token %}
  <table class="table">
    <tr><td colspan="2"><h5>Filter POs</h5></td></tr>
    <tr>
      <td class="col-lg-6">
        <div class="form-group">
          <label for="creator">DAT Member</label>
          <select name="creator" class="form-control">
            <option></option>
            {% for creator in creators %}
            <option value="{{ creator.id }}">{{ creator.username }}</option>
            {% endfor %}
          </select>
        </div>
      </td>
      <td class="col-lg-6">
        <div class="form-group">
          <label for="supplier">Supplier</label>
          <select name="supplier" class="form-control">
            <option></option>
            {% for supplier in suppliers %}
            <option value="{{ supplier.id }}">{{ supplier }}</option>
            {% endfor %}
          </select>
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-lg-6">
        <div class="form-group">
          <label for="contact">Contact</label>
          <select name="contact" class="form-control">
            <option></option>
            {% for contact in contacts %}
            <option value="{{ contact.id }}">{{ contact }}</option>
            {% endfor %}
          </select>
        </div>
      </td>
      <td class="col-lg-6">
        <div class="form-group">
          <label for="notes">Notes (contains)</label>
          <input name="notes" class="form-control" type="text" />
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-lg-6">
        <div class="form-group">
          <label for="start">Date Created (Start)</label>
          <input type="date" name="start" class="form-control" id="start" />
        </div>
      </td>
      <td class="col-lg-6">
        <div class="form-group">
          <label for="end">Date Created (End)</label>
          <input type="date" name="end" class="form-control" id="end" />
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-lg-6" colspan="2">
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Filter POs" />
        </div>
      </td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
  </table>
</form>
</div>

{% if warnings|length %}
{% for message in warnings %}
<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p>{{ message }}</p>
</div>
{% endfor %}
{% endif %}

{% if params|length %}
{% for key, value in params.iteritems %}
<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><b>Search Key:</b> {{ key }}</p>
  <p><b>Value:</b> {{ value }}</p>
</div>
{% endfor %}
{% endif %}

{% if pos %}
<div class="table-responsive">
<table class="table table-striped table-condensed data-table">
<thead>
  <tr>
    <th>ID</th><th>Date Created</th><th>DAT Member</th><th>Supplier</th><th>Contact</th><th>Receiver</th>
    <th>Terms</th><th>Shipping Cost</th><th>Sales Tax</th><th>Total Cost</th><th>Note</th><th>Tracking URL</th>
    <th>Shipments</th>
  </tr>
</thead>
<tbody>
  {% for po in pos %}
  <tr>
    <td>{{ po.id }}</td>
    <td>{{ po.created }}</td>
    <td>{{ po.creator.username }}</td>
    <td>{{ po.supplier.name }}</td>
    <td>{{ po.contact.name }}</td>
    <td>{{ po.receiver.name }}</td>
    <td>{{ po.terms }}</td>
    <td>${{ po.shipping_cost|floatformat:2 }}</td>
    <td>${{ po.sales_tax|floatformat:2 }}</td>
    <td>${{ po.total_cost|floatformat:2 }}</td>
    <td>{{ po.note|default:"-"|safe }}</td>
    <td>{{ po.tracking_url|default:"-"|safe }}</td>
    <td>{{ po.shipment_set.all|join:", "|default:"-" }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

<div class="pull-left">
  {% if pos.has_previous %}
  <div class="button"><a href="?{{ request.GET.urlencode }}&page={{ pos.previous_page_number }}">Previous</a></div>
  {% endif %}

  <div>Page {{ pos.number }} of {{ pos.paginator.num_pages }}</div>

  {% if pos.has_next %}
  <div class="button"><a href="?{{ request.GET.urlencode }}&page={{ pos.next_page_number }}">Next</a></div>
  {% endif %}
</div>

<div class="pull-right"><a href="/purchase_orders/export/?{{ request.GET.urlencode }}" target="_blank" class="btn btn-primary default" >Export This Table</a></div>
</div>

{% else %}
<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p>No matches found for you specifications.</p>
</div>
{% endif %}

{% endblock %}

{% block contentjs %}
<script>
$(document).ready(function(){
  $('#start').change(function(){
    if ($(this).val()!= ''){
      $('#end').prop('required', true);
    } else {
      $('#end').prop('required', false);
    }
  });
});
</script>
{% endblock %}
