{% extends 'dodger/base.html' %}

{% block content %}
<h3>Create a Purchase Order</h3>
<form action="." method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group">
    {{ field.label_tag }}{{ field.errors }}{{ field }}
  </div>
  {% endfor %}
  {{ formset.management_form }}
  <div class="table-responsive">
    <table class="table table-condensed">
    <thead>
        <tr><th>SKU</th><th>Qty Ordered</th><th>Unit Cost</th><th>Discount Percent</th><th>Discount Dollar</th></tr>
      </thead>
      <tbody>
      {% for form in formset %}
        <tr>
        {% for field in form %}
          {% if forloop.counter == 1 %}
          <td class="col-lg-4">{{ field }}{% if field.errors %}<br />{{ field.errors }}{% endif %}</td>
          {% elif forloop.counter < 6 %}
          <td class="col-lg-2">{{ field }}{% if field.errors %}<br />{{ field.errors }}{% endif %}</td>
          {% else %}
          <td style="display:none">{{ field }}</td>
          {% endif %}
        {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <input type="submit" name="submit" value="Create PO" class="btn btn-primary" />
  <a href="{% url 'app:purchase_order__view' %}" class="btn btn-danger pull-right">Cancel</a>
</form>
{% endblock %}

{% block contentjs %}
{% load static %}
<script src="{% static 'app/js/purchase_order__create.js' %}"></script>
{% endblock %}
