{% extends 'dodger/base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
{% endblock %}

{% block content %}
<h3>Mass Zero Out</h3>
<form action="." method="post">
  {% csrf_token %}
  <div class="form-group ui-widget">
    <label for="id-sku-lookup">Lookup SKU</label>
    <input name="sku-lookup" id="id-sku-lookup" class="form-control" />
  </div>

  <div class="form-group" id="skus">

  </div>

        <input type="submit" name="submit" value="Make Adjustments" class="btn btn-primary" onclick="confirm('Zero Out All These SKUs?');" />

        <a href="{% url 'app:quantity_adjustment__view' %}" class="btn btn-danger pull-right">Cancel</a>

</form>
{% endblock %}

{% block contentjs %}
{% load static %}
<script src="{% static 'dodger/js/jquery-ui-1.10.4.min.js' %}"></script>
<script src="{% static 'app/js/quantity_adjustment__mass_zero.js' %}"></script>
{% endblock %}
