{% extends 'dodger/base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
{% endblock %}

{% block content %}
<h3>Make a Quantity Adjustment</h3>
<form action="." method="post">
  {% csrf_token %}
  {% for field in form %}
  {% if forloop.counter == 1 %}
  <div class="form-group ui-widget">
    {{ field.label_tag }}{{ field.errors }}{{ field }}
  </div>
  {% else %}
  <div class="form-group">
    {{ field.label_tag }}{{ field.errors }}{{ field }}
  </div>
  {% endif %}
  {% endfor %}
  <input type="submit" name="submit" value="Make Adjustment" class="btn btn-primary" />
  <a href="{% url 'app:quantity_adjustment__view' %}" class="btn btn-danger pull-right">Cancel</a>
</form>
{% endblock %}

{% block contentjs %}
{% load static %}
<script src="{% static 'dodger/js/jquery-ui-1.10.4.min.js' %}"></script>
<script src="{% static 'app/js/quantity_adjustment__create.js' %}"></script>
{% endblock %}
