{% extends 'dodger/base.html' %}

{% block content %}
<div class="table-responsive">

{% if ship %}
<h3>Detail View of Shipment #{{ ship.id }}</h3>
<table class="table">
<tbody>
  <tr><th>Creator</th><td>{{ ship.creator.username }}</td></tr>
  <tr><th>Purchase Order</th><td><a href="{{ ship.purchase_order.get_absolute_url }}" target="_blank">{{ ship.purchase_order }}</a></td></tr>
  <tr><th>Note</th><td>{{ ship.note|default:"-"|safe }}</td></tr>
  <tr><th>Date Created</th><td>{{ ship.created }}</td></tr>
  <tr>
    <td colspan="2">
      <h4>Line Items</h4>
      <div class="table-responsive">
        <table class="table table-condensed">
        <thead>
          <tr><th>SKU</th><th>Qty Received</th><th>&nbsp;</th></tr>
        </thead>
        <tbody>
          {% for li in ship.shipmentlineitem_set.all %}
          <tr>
            <td class="col-lg-6"><a href="{{ li.sku.get_absolute_url }}" target="_blank">{{ li.sku }}</a></td>
            <td class="col-lg-5">{{ li.quantity_received }}</td>
            <td class="col-lg-1"><a href="{% url 'app:shipment_line_item__update' li.pk %}" class="btn btn-danger" style="font-size:0.7em" onclick="return confirm('Modify line {{ li.sku }}?');">Update this Line Item</a></td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
    </td>
  </tr>
</tbody>
</table>
<a class="btn btn-primary default" href="{% url 'app:shipment__view' %}">Back To List</a>
{#<a class="btn btn-danger pull-right" href="{% url 'app:shipment__update' ship.pk %}">Modify This Shipment</a>#}

{% elif ships %}
<h3>View Shipments</h3>
<table class="table table-striped">
<thead>
  <tr><th>&nbsp;</th><th>PO Reference</th><th>Date Created</th></tr>
</thead>
<tbody>
  {% for ship in ships %}
  <tr><td><a href="{{ ship.get_absolute_url }}">{{ ship }}</a></td>
    <td><a href="{{ ship.purchase_order.get_absolute_url }}" target="_blank">{{ ship.purchase_order }}</a></td>
    <td>{{ ship.created }}</td></tr>
  {% endfor %}
</tbody>
</table>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      {% if ships.has_previous %}
      <a href="?page={{ ships.previous_page_number }}" class="btn btn-primary">&laquo; Previous</a>
      {% endif %}
    </div>
    <div class="col-lg-4">
      Page {{ ships.number }} of {{ ships.paginator.num_pages }}
    </div>
    <div class="col-lg-4">
      {% if ships.has_next %}
      <a href="?page={{ ships.next_page_number }}" class="btn btn-primary">Next &raquo;</a>
      {% endif %}
    </div>
  </div>
</div>

{% else %}
<h3>View Shipments</h3>
<p>No data received.</p>

{% endif %}
</div>
{% endblock %}
