{% extends 'dodger/base.html' %}

{% block content %}
<h3>Check In a Shipment</h3>
{% if no_pos %}
<p>No outstanding POs - nothing to do here.</p>

{% else %}
<form action="." method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group">
    {{ field.label_tag }}{{ field.errors }}{{ field }}
  </div>
  {% endfor %}
  <input type="hidden" id="supplier" />
  {{ formset.management_form }}
  <div id="po-info" class="table-responsive"></div>
  <div class="table-responsive">
    <table class="table table-condensed">
    <thead>
        <tr><th>SKU</th><th>Qty Received</th></tr>
      </thead>
      <tbody>
        {% for form in formset %}
        <tr>
          {% for field in form %}
          {% if forloop.counter < 3 %}
          <td class="col-lg-6">{{ field }}</td>
          {% else %}
          <td style="display:none">{{ field }}</td>
          {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <input type="submit" name="submit" value="Create Shipment" class="btn btn-primary" />
  <a href="{% url 'app:shipment__view' %}" class="btn btn-danger pull-right">Cancel</a>
</form>
{% endif %}
{% endblock %}

{% block contentjs %}
{% load static %}
<script src="{% static 'app/js/shipment__create.js' %}"></script>
{% endblock %}
