{% extends 'dodger/base.html' %}

{% block content %}
<h3>Create a Purchase Order</h3>
<form action="." method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group">
    {{ field.label_tag }}{{ field.errors }}{{ field }}
  </div>
  {% endfor %}
  {{ formset.management_form }}
  <div class="table-responsive">
    <table class="table table-condensed">
    <thead>
        <tr><th>SKU</th><th>Qty Received</th></tr>
      </thead>
      <tbody>
        {% for field in form %}
        <tr>
          {% if forloop.counter < 3 %}
          <td class="col-lg-6">{{ field }}</td>
          {% else %}
          <td style="display:none">{{ field }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <input type="submit" name="submit" value="Create Shipment" class="btn btn-primary" />
  <a href="{% url 'app:shipment__view' %}" class="btn btn-danger pull-right">Cancel</a>
</form>
{% endblock %}
