{% extends 'dodger/base.html' %}

{% block content %}
<div class="table-responsive">

  {% if shipment %}
  <h2>Shipment {{ shipment.slug }}</h2>
    <table class="table table-striped detail-table">
      <tbody>
        <tr>
          <td>ID</td><td>{{ shipment.id }}</td>
        </tr>
        <tr>
          <td>PO ID</td><td><a href="{% url 'app:po__view' shipment.purchase_order.pk %}">{{ shipment.purchase_order.id }}</a></td>
        </tr>
        <tr>
          <td>Received By</td><td>{{ shipment.received_by.username }}</td>
        </tr>
        <tr>
          <td>Received On</td><td>{{ shipment.received_on }}</td>
        </tr>
        <tr>
          <td colspan="2">
            <h4>Products</h4>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Product</th><th>Qty Received</th>
                </tr>
              </thead>
              <tbody>
                {% for li in shipment.shipmentlineitem_set.all %}
                <tr>
                  <td>{{ li.sku.description }}</td>
                  <td>{{ li.qty_received }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  <a class="btn btn-primary default" href="{% url 'app:shipment__view' %}">Back To List</a>

  {% elif shipments %}
  <h2>View Shipments</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th><th>PO ID</th><th>Received On</th><th>Received By</th>
        </tr>
      </thead>
      <tbody>
        {% for ship in shipments %}
        <tr>
          <td><a href="{% url 'app:shipment__view' ship.pk %}">{{ ship.purchase_order.id }}</a></td>
          <td><a href="{% url 'app:po__view' ship.purchase_order.pk %}">{{ ship.purchase_order.id }}</a></td>
          <td>{{ ship.received_on }}</td>
          <td>{{ ship.received_by }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  <div class="container">
    {% if shipments.has_previous %}
    <a class="btn btn-primary default" href="?page={{ shipments.previous_page_number }}">Previous</a>
    {% endif %}
    Page {{ shipments.number }} of {{ shipments.paginator.num_pages }}
    {% if shipments.has_next %}
    <a class="btn btn-primary default" href="?page={{ shipments.next_page_number }}">Next</a>
    {% endif %}
  </div>

  {% else %}
  <p>no data received</p>

  {% endif %}
</div>
{% endblock %}

{% block contentjs %}
{% load static %}
{% endblock %}
