{% extends 'dodger/base.html' %}

{% block content %}
<div class="table-responsive">

{% if trace %}
<h3>Sku Quantity Adjustment #{{ trace.id }}</h3>
  <table class="table">
  <tbody>
    <tr><th>ID</th><td>{{ trace.id }}</td></tr>
    <tr><th>When</th><td>{{ trace.when }}</td></tr>
    <tr><th>SKU</th><td>{{ trace.sku.description }}</td></tr>
    <tr><th>Who</th><td>{{ trace.who.username }}</td></tr>
    <tr><th>Old</th><td>{{ trace.old }}</td></tr>
    <tr><th>New</th><td>{{ trace.new }}</td></tr>
    <tr><th>Reason</th><td>{{ trace.reason.name }}</td></tr>
    <tr><th>Detail</th><td>{{ trace.detail|safe }}</td></tr>
  </tbody>
  </table>
  <a class="btn btn-primary default" href="{% url 'app:sku_qty_adj__view' %}">Back To List</a>

{% elif traces %}
<h3>View Sku Quantity Adjustments</h3>
<table class="table table-striped">
<thead>
  <tr>
    <th>ID</th><th>When</th><th>SKU</th><th>Who</th><th>Old</th><th>New</th><th>Reason</th><th>Detail</th>
  </tr>
</thead>
<tbody>
  {% for trace in traces %}
  <tr>
    <td><a href="{% url 'app:sku_qty_adj__view' trace.pk %}">{{ trace.id }}</a></td>
    <td>{{ trace.when }}</td>
    <td>{{ trace.sku.description }}</td>
    <td>{{ trace.who.username }}</td>
    <td>{{ trace.old }}</td>
    <td>{{ trace.new }}</td>
    <td>{{ trace.reason.name }}</td>
    <td>{% if trace.detail|length > 20 %}{{ trace.detail|slice:":16" }}&nbsp;&hellip;{% else %}{{ trace.detail }}{% endif %}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% if traces.has_previous %}
<a class="btn btn-primary default" href="?page={{ traces.previous_page_number }}">Previous</a>
{% endif %}

Page {{ traces.number }} of {{ traces.paginator.num_pages }}

{% if traces.has_next %}
<a class="btn btn-primary default" href="?page={{ traces.next_page_number }}">Next</a>
{% endif %}

{% else %}
<p>No data received.</p>

{% endif %}
</div>
{% endblock %}
