{% extends 'dodger/base.html' %}

{% block content %}
<div class="table-responsive">

{% if sku %}
<h3>Detail View of SKU {{ sku.id }}</h3>
<table class="table">
<tbody>
  <tr><th>ID</th><td>{{ sku.id }}</td></tr>
  <tr><th>Name</th><td>{{ sku.name }}</td></tr>
  <tr><th>UPC</th><td>{{ sku.upc }}</td></tr>
  <tr><th>Brand</th><td>{{ sku.brand }}</td></tr>
  <tr><th>Categories</th><td>{{ sku.categories.all|join:", " }}</td></tr>
  <tr><th>Qty on Hand</th><td>{{ sku.quantity_on_hand }}</td></tr>
  <tr><th>Location</th><td>{{ sku.location }}</td></tr>
  <tr><th>Owner</th><td>{{ sku.owner.username }}</td></tr>
  <tr><th>Supplier</th><td>{{ sku.supplier }}</td></tr>
  <tr><th>Lead Time</th><td>{{ sku.lead_time }}</td></tr>
  <tr><th>Min Qty</th><td>{{ sku.minimum_quantity }}</td></tr>
  <tr><th>Notify Owner</th><td>{{ sku.notify_at_threshold }}</td></tr>
  <tr><th>Cost</th><td>${{ sku.cost }}</td></tr>
  <tr><th>Supplier SKU</th><td>{{ sku.supplier_sku }}</td></tr>
  <tr><th>Case Qty</th><td>{{ sku.case_quantity }}</td></tr>
  <tr><th>In Live Deal</th><td>{{ sku.in_live_deal }}</td></tr>
  <tr><th>Is Subscription</th><td>{{ sku.is_subscription }}</td></tr>
  <tr><th>Date Created</th><td>{{ sku.created }}</td></tr>
  <tr><th>Date Last Modified</th><td>{{ sku.modified }}</td></tr>
  {% if sku.skuattribute_set.all|length %}
  <tr>
    <td colspan="2">
      <h4>Attributes</h4>
      <div class="table-responsive">
        <table class="table table-condensed">
        <thead>
          <tr><th>Attribute</th><th>Value</th></tr>
        </thead>
        <tbody>
          {% for attr in sku.skuattribute_set.all %}
          <tr><td>{{ attr.attribute }}</td><td>{{ attr.value }}</td></tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
    </td>
  </tr>
  {% endif %}
</tbody>
</table>
<a class="btn btn-primary default" href="{% url 'app:sku__view' %}">Back To List</a>
<a class="btn btn-danger pull-right" href="{% url 'app:sku__update' sku.pk %}">Modify This SKU</a>

{% elif skus %}
<h3>View SKUs</h3>
<table class="table table-striped">
<thead>
  <tr><th>&nbsp;</th><th>Qty on Hand</th><th>Location</th><th>Owner</th></tr>
</thead>
<tbody>
  {% for sku in skus %}
  <tr><td><a href="{{ sku.get_absolute_url }}">{{ sku }}</a></td><td>{{ sku.quantity_on_hand }}</td><td>{{ sku.location }}</td><td>{{ sku.owner.username }}</td></tr>
  {% endfor %}
</tbody>
</table>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      {% if skus.has_previous %}
      <a href="?page={{ skus.previous_page_number }}" class="btn btn-primary">&laquo; Previous</a>
      {% endif %}
    </div>
    <div class="col-lg-4">
      Page {{ skus.number }} of {{ skus.paginator.num_pages }}
    </div>
    <div class="col-lg-4">
      {% if skus.has_next %}
      <a href="?page={{ skus.next_page_number }}" class="btn btn-primary">Next &raquo;</a>
      {% endif %}
    </div>
  </div>
</div>

{% else %}
<h3>View SKUs</h3>
<p>No data received.</p>

{% endif %}
</div>
{% endblock %}
