Django==1.6.1
South==0.8.4
django-admin-bootstrapped==1.6.4
django-celery==3.1.1
django-tastypie==0.11.0
docutils==0.11
gspread==0.1.0
newrelic==2.10.1.9
pytz==2013.9
requests==2.2.1
wsgiref==0.1.2
psycopg2==2.5.2
