{% extends 'warehouse/base.html' %}

{% block content %}
<div class="container">
  <h2>View Shipments</h2>
  {% if shipments %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>PO Friendly Name</th><th>Received On</th><th>Received By</th><th>Products</th>
          </tr>
        </thead>
        <tbody>
          {% for ship in shipments %}
          <tr>
            <td><a href="{% url 'warehouse:shipment-view' ship.id %}">{{ ship.purchase_order.name }}</a></td><td>{{ ship.received_on }}</td><td>{{ ship.received_by }}</td>
            <td>
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Product</th><th>Qty Ordered</th><th>Qty Received</th>
                  </tr>
                </thead>
                <tbody>
                  {% for sp in ship.shipmentproduct_set.all %}
                  <tr>
                    <td class="sku" sku="{{ sp.product.sku }}" po="{{ sp.shipment.purchase_order.id }}">{{ sp.product }}</td><td id="{{ sp.shipment.purchase_order.id }}-{{ sp.product.sku }}-qty"></td><td>{{ sp.qty_received }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% if display_pages %}
    <div class="container">
      {% if shipments.has_previous %}
      <div class="button"><a href="?page={{ shipments.previous_page_number }}">Previous</a></div>
      {% endif %}
      <div>Page {{ shipments.number }} of {{ shipments.paginator.num_pages }}</div>
      {% if shipments.has_next %}
      <div class="button"><a href="?page={{ shipments.next_page_number }}">Next</a></div>
      {% endif %}
    </div>
    {% endif %}
  {% else %}
    <p>no data retrieved</p>
  {% endif %}
</div>
{% endblock %}

{% block contentjs %}
<script>
$(document).ready(function(){

  // get qtys ordered
  $('td.sku').each(function(i){
    var tdid = '#' + $(this).attr('po') + '-' + $(this).attr('sku') + '-qty';
    $.ajax({
      url: '/api/dat/purchase-order-products/?product__sku=' + $(this).attr('sku') + '&purchase_order__id=' + $(this).attr('po'),
      type: 'GET',
      dataType: 'json',
      success: function(xhr, status){
        $(tdid).html(xhr.objects[0].qty_ordered);
      },
      error: function(xhr, status){ alert(status + ' ' + xhr.responseText); },
      beforeSend: function(xhr){ xhr.setRequestHeader('Authorization', 'ApiKey vince:51ec739d7e8e7a24381ebd8b8a10e6be79c33e54'); }
    });
  });

});
</script>
{% endblock %}
