{% extends 'warehouse/base.html' %}

{% block content %}
<div class="container">
  <h2>Receive A Shipment</h2>
  {% if no_pos %}
  <h4>There are no outstanding POs right now.</h4>
  {% else %}
  <form method="post" action=".">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}{{ field }}{{ field.errors }}
    </div>
    {% endfor %}
    <input type="hidden" id="supplier" />
    {{ formset.management_form }}
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Product</th><th>Qty Received</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
        <tr>
          {% for field in form %}
          <td style="width:50%;">{{ field }}{{ field.errors }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit" value="Save" class="btn btn-primary default" name="save">
  </form>
  {% endif %}
</div>
{% endblock %}

{% block contentjs %}
<script>
$(document).ready(function(){
  // global scope options
  var options = '<option></option>';

  // listen for change in po selection
  $('select#purchase-order').change(function(){

      // get supplier for purchase order
      $.ajax({
        url: '/api/dat/purchase-orders/' + $(this).val() + '/',
        type: 'GET',
        dataType: 'json',
        async: false,  // make blocking call
        success: function(xhr, status){
          var supplier_uri = xhr.supplier;
          $.ajax({
            url: supplier_uri,
            type: 'GET',
            dataType: 'json',
            async: false,  // make blocking call
            success: function(xhr, status){ $('input#supplier').val(xhr.id); },
            error: function(xhr, status){ alert(status + ' ' + xhr.responseText); },
            beforeSend: function(xhr){ xhr.setRequestHeader('Authorization', 'ApiKey vince:51ec739d7e8e7a24381ebd8b8a10e6be79c33e54'); }
          });
        },
        error: function(xhr, status){ alert(status + ' ' + xhr.responseText); },
        beforeSend: function(xhr){ xhr.setRequestHeader('Authorization', 'ApiKey vince:51ec739d7e8e7a24381ebd8b8a10e6be79c33e54'); }
      });

      // load up products from supplier - the rationale is that the supplier could screw up and switch skus
      $.ajax({
        url: '/api/inventory-manager/products/?supplier__id=' + $('input#supplier').val(),
        type: 'GET',
        dataType: 'json',
        success: function(xhr, status){
          $(xhr.objects).each(function(i){
            options += '<option value="' + xhr.objects[i].sku + '">' + xhr.objects[i].description  + '</option>';
          });
        },
        error: function(xhr, status){ alert(status + ' ' + xhr.responseText); },
        beforeSend: function(xhr){ xhr.setRequestHeader('Authorization', 'ApiKey vince:51ec739d7e8e7a24381ebd8b8a10e6be79c33e54'); },
        complete: function(){ $('select.product').html(options); }
      });

  });

});
</script>
{% endblock %}
