.nav-pad{height:70px}
#footer{margin-top:70px;padding-top:15px;padding-bottom:15px;color:#ccc;text-align:center;font-size:0.7em}
.errorlist{list-style-type:none;color:#c12e2a;padding:0;display:inline-block;margin-left:5px}
